<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WisePay</title>
    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Link to Syncfusion Bootstrap Dark theme CSS -->
    <link href="https://cdn.syncfusion.com/ej2/20.1.55/bootstrap5-dark.css" rel="stylesheet" />
    <!-- Link to Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Link to Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- Link to custom CSS files -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Expense_Tracker.styles.css" asp-append-version="true" />
    <!-- Link to Syncfusion Essential JS 2 -->
    <script src="https://cdn.syncfusion.com/ej2/20.1.55/dist/ej2.min.js"></script>
</head>
<body class="e-bigger">

    <!-- Include the _SideBar partial view -->
    <partial name="_SideBar" />

    <!-- Main content -->
    <div class="dock-target">
        <div class="main-content">
            <div class="container mt-5">
                <div class="row justify-content-center">
                    <!-- Determine column size based on whether it's a dashboard or not -->
                    <div class="@(ViewData["isDashboard"] == null?"col-md-10":"col-md-12")">
                        <main role="main" class="pb-3">
                            <!-- If not a dashboard, display page title and action button -->
                            @if (ViewData["isDashboard"] == null)
                            {
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="d-flex flex-column mb-5">
                                            <div class="d-flex mb-1">
                                                <div class="flex-grow-1">
                                                    <h3 class="fw-bold">@ViewData["PageTitle"]</h3>
                                                </div>
                                                <div>
                                                    <!-- Display action button if specified -->
                                                    @if (ViewData["PageActionText"] != null)
                                                    {
                                                        <a class="btn btn-success" href="@ViewData["PageActionUrl"]">
                                                            @ViewData["PageActionText"]
                                                        </a>
                                                    }
                                                </div>
                                            </div>
                                            <!-- Include breadcrumb navigation -->
                                            <ejs-breadcrumb id="breadcrumb"
                                                            separatorTemplate="@Html.Raw("<span class='fa-solid fa-angle-right'></span>")"></ejs-breadcrumb>
                                        </div>
                                    </div>
                                </div>
                            }
                            <!-- Render the page content -->
                            @RenderBody()
                        </main>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Include jQuery and Bootstrap JS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Include custom JavaScript files -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Render section for additional scripts -->
    @await RenderSectionAsync("Scripts", required: false)
    <!-- Include Syncfusion scripts -->
    <ejs-scripts></ejs-scripts>
</body>
</html>
